<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Page Title -->
    <title>Bezzy</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->


<!-- Bootstrap JS Requirements -->

    <!-- Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->
  
    <!-- ======= END BEGIN GLOBAL MANDATORY STYLES ======= -->

    <!-- ======= MAIN STYLES ======= -->
   
    <!-- ======= END MAIN STYLES ======= -->

    <style>

        
        .heading{
            min-height: 150px;
           display: flex;
           justify-content: center;
           align-items: center;
        }    

        .heading h2{
            font-size: 26px;
            font-weight: 600;
        }

        .website-content p{
          
            max-width: 800px;
            margin: auto;
            margin-bottom: 20px;
            font-size: 15px;
            letter-spacing: 0.2px;
            color: rgba(0,0,0,0.8);
            line-height: 1.65;
            padding: 0 20px;
        }

        body{
           background-color: #ededed; 
           font-family: 'Roboto', sans-serif;
           margin: 0;
        }

        
        .main-section .container{
            background-color: #fff;
            min-height: 100vh;
        }

        .main-section .image img{
            max-width: 500px;
        }

        .main-section .image{
            display: flex;
            justify-content: center;
        }

        footer{
            text-align: center;
            background-color: darkslategrey;
           
        }

        
        footer p{
            padding: 20px;
            color: #fff;
            font-size: 12px;
            margin: 0;
        }

        .btn.btn-lg{
            width: 100%;
    max-width: 245px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 5px 10px rgb(4 0 252 / 20%) !important;
        }

        .font-20{
    font-size: 20px !important;

        }

        .card{border: none;}

        .auth-card .btn-lg{border-radius: 28px; font-size: 16px;}

    </style>

</head>

<body>


    


   



    <div class="mn-vh-100 d-flex align-items-center main-section">
        <div class="container">
            <!-- Card -->
            <div class="card justify-content-center auth-card">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="heading">
                            <h2 class="text-capitalize">support center</h2>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class="image ">
                            <img src="https://timeowner.xyz/public/uploads/support.png" alt="Girl in a jacket"  class="img-fluid">

                        </div>
                    </div>
                     <div class="col-md-12">
                         <div class="website-content">
                            
                           <p class="font-20">Need help? Submit a support request and we'll get back to you ASAP. Also you can directly mail us on support@hotmail.com</p>
                         </div>
                       
                     </div>   
                     <a href="mailto:someone@example.com" class="btn btn-info btn-lg active mt-5" role="button" aria-pressed="true">send email </a>                                
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
    <!-- Footer -->
   
   <!-- End Footer -->

    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
  
    <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
    

</body>
</html>