<% layout('../layouts/admin') -%>
<div class="row marginLess25">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-left">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript: void(0);">Android Subscription</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">Android Subscription</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form id="changeSettingsForm" action="/settings/android-subscription" method="post">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Subscription Name</label>
                                    <input type="text" name="android_subscription_name" value="<%=setting.android_subscription_name%>" class="form-control" placeholder="Subscription Name"
                                           autocomplete="off">
                                    <div class="text-danger subscriptionName"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Subscription Id</label>
                                    <input type="text" name="android_subscription_id" value="<%=setting.android_subscription_id%>" class="form-control" placeholder="Subscription Id"
                                           autocomplete="off">
                                    <div class="text-danger subscriptionId"></div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group mb-3">
                                    <label>Subscription Price</label>
                                    <input type="text" name="android_subscription_price" value="<%=setting.android_subscription_price%>" class="form-control" placeholder="Subscription Price"
                                           autocomplete="off">
                                    <div class="text-danger subscriptionPrice"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 text-right">
                                <div class="form-group mb-3 text-right">
                                    <button id="submitSettingsForm" type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        const CHANGE_SETTINGS = <%- JSON.stringify(DM('CHANGE_SETTINGS')) %>;
        $("#changeSettingsForm").validate({
            errorPlacement: function (error, element) {
                const name = $(element).attr("name");
                error.appendTo($("." + name));
            },
            submitHandler: function(form) {
                $('#submitSettingsForm').attr('disabled', 'disabled');
                form.submit();
            },
            rules: {
                subscriptionName:{
                    required: true
                },
                subscriptionId:{
                    required: true
                },
                subscriptionPrice:{
                    required: true,
                }
            },
            messages: CHANGE_SETTINGS
        });
    })
</script>

<script>
    function showTime() {
   var date=new Date();
   var d = date.getDate();
   var w = date.getDay();
    var m= date.getMonth()+1;
    var y= date.getFullYear();
    d = d < 10 ? '0'+d : d;
    m = m < 10 ? '0'+m : m;
    var strDate = d + '-' + m + '-' + y;
    var hours = date.getHours();
     var minutes = date.getMinutes();
     var ampm = hours >= 12 ? 'pM' : 'aM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
     var date_=strDate+'  '+strTime
    
     var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; 
     var dayNames= ["Sun,","Mon,","Tue,","Wed,","Thu,","Fri,","Sat,"];

     document.getElementById("h").innerText = hours;
     document.getElementById("h").textContent = hours;

     document.getElementById("m").innerText = minutes;
     document.getElementById("m").textContent = minutes;

     document.getElementById("ampm").innerText = ampm;
     document.getElementById("ampm").textContent = ampm;

    //  document.getElementById("dn").innerText = dayNames[w];
    //  document.getElementById("dn").textContent = dayNames[w];

     document.getElementById("d").innerText = d;
     document.getElementById("d").textContent = d;

     document.getElementById("mn").innerText = m;
     document.getElementById("mn").textContent = m;

     document.getElementById("y").innerText = y;
     document.getElementById("y").textContent = y;

   
    }
   
    showTime();
    setInterval(showTime, 1000);
</script>